# Python
__pycache__/
*.py[cod]
*.sqlite3

# Django
*.log
*.pot
*.pyc
media/
staticfiles/

# Environment
.env
venv/
.env.*

# VSCode
.vscode/

# Migrations 
*/migrations/__pycache__/
*/migrations/*.py[cod]
